@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply font-inter bg-dark min-h-screen text-light;
}

@layer components {
  .nav-pointer {
    z-index: 1;
    position: absolute;
    top: 75%;
    transform: translateY(-50%);
    left: 1rem;
    height: 3px;
    width: 50px;
    transition: transform 0.25s ease-in-out;
    border-radius: 0.3em;
    @apply bg-primary;
  }
  .nav-indicator .current {
    @apply text-light;
  }

  .btn-animate {
    display: block;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .btn-animate.btn-animate--inverted {
    background: none;
    color: #fff;
  }
  .btn-animate::before,
  .btn-animate::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 100%;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  .btn-animate::before {
    @apply bg-primary-light;
  }
  .btn-animate::after {
    @apply bg-primary;
  }
  .btn-animate:hover {
    color: #fff;
  }
  .btn-animate:hover::before,
  .btn-animate:hover::after {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .btn-animate:hover::after {
    -webkit-transition-delay: 0.175s;
    transition-delay: 0.175s;
  }

  .waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: 0.3s ease-out;
  }

  .waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
    @apply bg-light/40;
  }

  .page-content,
  .page-content-inner {
    position: relative;
  }

  .page-container {
    position: relative;
    overflow: hidden;
  }

  .page-pusher {
    position: relative;
    left: 0;
    z-index: 50;
    height: 100%;
    perspective: 1000px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

  .page-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  }

  .page-menu-open .page-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    @apply backdrop-blur-xl;
  }

  .page-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    max-width: 300px;
    height: 100%;
    background: ;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    @apply flex flex-col justify-between w-full;
  }

  .page-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: "";
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .page-menu-open .page-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  }

  /* content style */

  .page-menu ul {
    margin: 0;
    /* padding: 0; */
    list-style: none;
    @apply mt-20 w-full mx-auto;
  }

  .page-menu ul li {
    @apply h-max overflow-hidden;
    box-shadow: inset 0 -1px rgb(246 244 244 / 0.2);
  }

  .page-menu ul li a {
    @apply text-light;
    display: block;
    padding: 1em 0.8em;
    outline: none;
    /* box-shadow: inset 0 -1px rgb(246 244 244 / 0.2); */
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
  }
  .page-menu ul li:firpage-child a {
    box-shadow: inset 0 -1px rgb(246 244 244 / 0.2),
      inset 0 1px rgb(246 244 244 / 0.2);
  }

  .page-menu ul li a:hover {
    /* background: rgba(0, 0, 0, 0.2); */
    @apply bg-grey/50;
    box-shadow: inset 0 -1px rgb(246 244 244 / 0.5);
  }

  /* Individual effects */

  .page-effect-4.page-menu-open .page-pusher {
    -webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
  }

  .page-effect-4.page-menu {
    z-index: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  .page-effect-4.page-menu-open .page-effect-4.page-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .page-effect-4.page-menu::after {
    display: none;
  }
  .sticky-container {
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
  }

  .space-holder {
    position: relative;
    width: 100%;
  }

  .sticky-slider {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2.5rem;
    overflow-x: hidden;
    @apply h-[90vh] lg:h-screen;
  }

  .horizontal {
    position: relative;
    bottom: 0;
    left: 0;
    /* height: 100%; */
    will-change: transform;
  }

  .cards {
    position: relative;
    height: 100%;
    /* padding: 0 0 0 150px; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .sample-card {
    position: relative;
    height: 300px;
    width: 500px;
    background-color: #111f30;
    margin-right: 20px;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
  }
}
